env/
venv/
.venv/
juego.*
*.sh

__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store        # macOS
Thumbs.db        # Windows

*.log
*.tmp
*.swp

.mypy_cache/
.pytest_cache/
.coverage
coverage.xml

.vscode/
.idea/